

*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* #root{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  width: 100%;
}


main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard {
  width : 100%;
  height : 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.hidden {
  display: none;
}

.hambergurMenu {
  background: #1976d2;
  color: white;
  
}
@media (min-width: 651px) {
  .hambergurMenu {
    display: none;
  }
}

@media (max-width: 650px) {
  .hambergurMenuIcon {
    display: block;
  }

  .desktopMenu {
    display: none;
  }
}