

*{
  box-sizing: border-box;
  padding: 0;
  margin:0;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#root{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
  width: 100%;
}


main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
